/* HEADER STYLES */
#nav-menu {
    border-bottom: 7px solid var(--brown-color);
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: var(--main-font);
}
#nav-menu > ul {
    background-color: var(--yellow-color);
    height: fit-content;
    width: 400px;
    padding: 10px 0px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 7px solid var(--brown-color);
    border-right: 7px solid var(--brown-color);
    border-left: 7px solid var(--brown-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: -7px;
}
.nav-items {
    margin: 0px 10px;
    color: black;
    list-style-type: none;
    font-size: 28px;
}
.nav-items:hover,
.nav-items-active {
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

.chess {
    background-image: linear-gradient(45deg, black 25%, transparent 25%),
        linear-gradient(-45deg, black 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, black 75%),
        linear-gradient(-45deg, transparent 75%, black 75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 30px, 30px -30px, -30px 0px;
}

#logo-header {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    height: 150px;
    filter: drop-shadow(5px 5px 4px black);
}
@media (max-width: 750px) {
    #logo-header {
        display: none;
    }
}
@media (min-width: 1920px){
    #logo-header{
        height: 200px;
    }
}
