/* HEADER STYLES */
#nav-menu {
    border-bottom: 7px solid var(--brown-color);
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: var(--main-font);
}
.links {
    background-color: var(--yellow-color);
    height: fit-content;
    width: 400px;
    padding: 10px 0px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 7px solid var(--brown-color);
    border-right: 7px solid var(--brown-color);
    border-left: 7px solid var(--brown-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: -7px;
}
.nav-items {
    margin: 0px 10px;
    color: black;
    list-style-type: none;
    font-size: 28px;
}
.nav-items:hover,
.nav-items-active {
    border-bottom: 3px solid black;
    margin-bottom: -3px;
}

.chess {
    background-image: linear-gradient(45deg, black 25%, transparent 25%),
        linear-gradient(-45deg, black 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, black 75%),
        linear-gradient(-45deg, transparent 75%, black 75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 30px, 30px -30px, -30px 0px;
}

#logo-header {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    height: 150px;
    filter: drop-shadow(5px 5px 4px black);
    z-index: 99;
    transition: all .2s ease-in-out;
}

/* Menu buttons responsive */
.hamburger {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;    
}
.hamburger .line {
    height: 0.4rem;
    width: 100%;
    background: var(--brown-color);
    border-radius: 1rem;
    transition: 0.3s;
}

@media screen and (max-width: 768px){
    #nav-menu {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    .links {
        padding-top: 1rem;
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .links li {
        text-align: center;
        padding: 0.5rem 1rem;
    }
    .links.active {
        display: flex;
        z-index: 98;
        margin-top: 83px;
        border: 7px solid var(--brown-color);
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
            
    .hamburger {
        display: flex;
    }
    .toggle .line1 {
        transform: rotate(-45deg) translate(-12px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-12px, -6px);
    }
    #logo-header {
        z-index: 99;
        transform: translate(-15px,-15px) scale(0.8);
        margin-top: 2px;
        margin-left: 2px;
    }
}

@media screen and (min-width: 1920px){
    #logo-header{
        height: 200px;
    }
}
