/* MENU STYLES */

/*Common Alignements*/
.menu,
#menu-container,
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{    
    background-color: var(--yellow-color);
}
#menu-container{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}
.menu-item{
    width: 250px;
    height: 275px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    text-align: center;
}
.name-menu-item{
    font-weight: 900;
    font-size: 20px;
}
.description-menu-item{
    font-family: var(--footer-font);
    font-size: 13px;
    margin-top: -35px;        
}

@media (min-width: 1920px){
    #menu-container{
        width: 1200px;
    }
    .menu-item{
        width: 325px;
        height: 357px;
    }
    .name-menu-item{
        font-size: 25px;
    }
    .description-menu-item{
        font-size: 20px;
        margin-top: -35px;
    }
}
